.detailsRecipeContainer {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    min-width: 100%;
    border: 2px solid black;
    margin-bottom: 0%;
}

.detailsRecipeImageContainer {
    min-height: 100%;
    min-width: 20%;
    max-width: 20%;
    background-color: #e2e2e2;
}

.detailsRecipeImage {
    width: auto;
    height: auto;
}

.detailsRecipeContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e2e2e2;
    min-width: 80%;
    min-height: 100%;
    padding: 2%;
    color: #434343;
}

.detailsButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #404040;
    padding: 2%;
    min-width: 100%;
    margin-bottom: 0%;
}

#detailsPrevious {
    margin-right: 2%;
}

#detailsNext {
    margin-left: 2%;
}
