#usernameSignUpInput{
	margin-top: 5%;
	margin-bottom: 5%;
}

#passwordSignUpInput{
	margin-top: 5%;
	margin-bottom: 5%;
}

#firstnameInput{
	margin-top: 10%;
	margin-bottom: 5%;
}

#lastnameInput{
	margin-top: 5%;
	margin-bottom: 5%;

}

#close{
	margin-top: 2%;
}
